{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-10"> 
            <div class="left">
                <h1 class="display-4">Your Goal Lists</h1>
            </div>
        </div>
            <div id="spacing" class="col-2"> 
                <a href="{% url 'create_goallist' user.id  %}" class="btn btn-primary">New List</a>
            </div>
        </div>
    </div>
</div>

{% for list in lists %}
<div class="card">
    <div class="card-header">
        <div class="text-primary">
            <a href="{% url 'goallist_detail' user.id list.id %}" class="text-primary btn">
                <h3>{{ list.title }} </h3> 


                 </a>
                </div>
                <h6>Description: {{ list.description }}</h6>
                
            </div>
           
            <button type="button" class="btn btn-primary" width="100%"> <a href="{% url 'goallist_detail' user.id list.id %}">
                <span class="badge badge-light" style="font-size: 15px;"> Details || Goals {{ list.goal.count }}</span></a>
              </button>
  
{% endfor %}

{% endblock %}