{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="row justify-content-between">
        <div class="left col-auto"> 
            <span class="display-4">Your Goal Lists</span>
        </div>
        <div class="d-flex col-auto align-items-center"> 
            <a href="{% url 'create_goallist' user.id  %}" class="btn btn-primary">New List</a>
        </div>
    </div>

    {% for list in lists %}
    <div class="card border-2 shadow rounded-2 my-3">
        <div class="card-header">
            <div class="text-primary">
                <h3>{{ list.title }} </h3> 
            </div>
            <h6>Description: {{ list.description }}</h6>          
        </div>
            
        <button type="button" class="btn btn-primary" width="100%"> <a href="{% url 'goallist_detail' user.id list.id %}" class="stretched-link">
            <span class="badge badge-light" style="font-size: 15px;"> Details || Goals {{ list.goal.count }}</span></a>
        </button>
    </div>
    {% endfor %}
</div>
{% endblock %}