{% extends 'base.html' %} 

{% load crispy_forms_tags %}

{% block content %}
<div class="left">
	<h1 class="display-4">Sign Up</h1>
</div>

{% if error_message %}
<p class="red-text">{{ error_message }}</p>
{% endif %}

<form method="post" action="{% url 'signup' %}">
	<div class="row">
		<div class="col-8">
			{% csrf_token %} 
			{{ form|crispy }}
		</div>
	</div>
	<input type="submit" id="spacing" class="btn btn-primary" value="Sign Up!" />
</form>
<br>
Already have an account? Then <a href="{% url 'login' %}" style="color:#030407; font-weight:500; text-decoration:underline;">Log In</a> here.
{% endblock content %}
