.center {
    text-align: center;
    color: #FF7E1B;
}

.left {
    color: #FF7E1B;
}

#text-color {
    color: white;
}

#spacing {
    margin-top: 15px;
}

a {
	color: black;
	text-decoration: none;
}