.center {
    text-align: center;
    color: #FF7E1B;
}

.left {
    color: #FF7E1B;
}

#text-color {
    color: white;
}

#profile-color {
    color: #2B80FF;
}

#logout-color {
    color: #FF7E1B;
}

#text-logout {
    color: white;
}

#spacing {
    margin-top: 15px;
}

a {
	color: black;
	text-decoration: none;
}

#id_user {
    display: none;
}
label[for="id_user"]{
    display: none;
}

#div_id_category {
    margin-bottom: 30px;
}
